.b-media{
	width: 100%;
	max-width: 1950px;
	margin: 0 auto;
	margin-bottom: 150px;
	.b-mediatext {
		text-align: center;
		width:100%;
		max-width: 1000px;
		margin: 0 auto 150px;
		@include breakpoint(tablet) {padding:0 20px 0 20px;}
		h1{
			font-size: 45px;
	    	letter-spacing: 3px;
		}
		p{
			text-align: left;
			font-size: 21px;
		    line-height: 1.5;
		    width: 100%;
			max-width: 1000px;
			margin: 0 auto;
		}
		img{
			height: 3px;
			width:100%;
		    max-width: 70px;
		    margin: 35px 0 35px 0;
		}
	}
	.b-social{
		text-align: center;
		width:100%;
		max-width: 400px;
		margin: 0 auto;
		img{margin: 0 10px;}
		img:hover{opacity: 0.7;}
	}
	.b-open-pos{
		color: $gray-3;
		text-align: center;
		width: 100%;
		max-width: 300px;
		margin:0 auto 25px;
	}
}